
body {
    background-color: aqua;
}

#container {
    background-color: white;
    width: 65%;
    margin: 20px auto;
    border: 2px solid black;
    padding: 20px;
}

#banner {
    width: 100%;
}

#col1 {
    width: 50%;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}

#col2 {
    width: 50%;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}

.heading_style {
    text-shadow: 2px 2px 2px #ed0d0df5;
}

.movie_post {
    width: 40%;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

nav {
    text-align: center;
    margin: 20px 0;
    background-color: bisque;
    border-radius: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0%;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    color: aliceblue;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 20px;
    width: 125px;
    height: 40px;
    line-height: 40px;
}

nav a:hover {
    background-color: white;
    color: black;
}

#two_col {
    display: flex;
}

h1, 
h2, 
h3,
footer {
    text-align: center;
}